body {
	background: #efefef;
	margin: 50px;
	color: #424242;
	text-align: center;
	font-family: arial narrow;
}

b {
	font-size: 36px;
}

#map {
	border: 1px solid #000000;
	display: block;
	height: 750px;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

/* .mapboxgl-popup-close-button {
  font-size: 16px;
  color: #fff;
}
.mapboxgl-popup-content {
  padding: 20px 25px 15px 20px;
  color: #fff;
  background-color: #175641;
}
.mapboxgl-popup-content h3 {
  margin-top: 0;
  margin-bottom: 4px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #175641;
} */